 table {
   border-collapse: collapse;
   width: 100%;
   color: white;
   font-family: monospace;
   font-size: 25px;
   text-align: center;
   background-color: #588c7e;
  
 } 
 th {
   background-color:coral;
   color: white;
 }
 tr:nth-child(even) {background-color:azure; color: #588c7e;}